        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-5">
                    <p>Copyright &copy; Jerome Sta. Maria Blog 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Javascript -->
    <script src="/javascripts/app.js" type="text/javascript"></script>

    <!-- TinyMCE Edtiro -->
    <script src="/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'.textarea-editor' });</script>

</body>

</html>
